@page "/transportes"
@using Turismos.Web.Shared
@using Turismos.Shared.Entities;
@using Turismos.Web.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Transporte</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/transportes/create">Nuevo Transporte</a>
</div>

<GenericList MyList="Transportes">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Compañía</th>
                    <th>Fecha de Recogida</th>
                    <th>Fecha Final</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transporte in Transportes!)
                {
                    <tr>
                        <td>@transporte.Compania</td>
                        <td>@transporte.FechaRecogida</td>
                        <td>@transporte.FechaFinal</td>
                        <td>
                            <a href="/transortes/edit/@transporte.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(transporte))>Borrar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Transporte>? Transportes { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Transporte>>("api/transportes");
        Transportes = responseHppt.Response!;
    }

    private async Task Delete(Transporte transporte)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/transportes/{transporte.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}
