@page "/transportes/edit/{Id:int}"
@using Turismos.Web.Repositories
@using Turismos.Shared.Entities
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Transporte</h3>

@if (transporte is null)
{
    <p>Cargando...</p>
}
else
{
    <TransporteForm @ref="transporteForm" Transporte="transporte" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Transporte? transporte;
    private TransporteForm? transporteForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Transporte>($"api/transportes/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("transportes");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            transporte = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/transportes", transporte);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            transporteForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("transportes");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("transportes");
    }
}
