@page "/comentarios/edit/{Id:int}"
@using Turismos.Web.Repositories
@using Turismos.Shared.Entities
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Comentario</h3>

@if (comentario is null)
{
    <p>Cargando...</p>
}
else
{
    <ComentarioForm @ref="comentarioForm" Comentario="comentario" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Comentario? comentario;
    private ComentarioForm? comentarioForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Comentario>($"api/comentarios/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("comentarios");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            comentario = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/comentarios", comentario);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            comentarioForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("comentarios");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("comentarios");
    }
}
