@page "/comentarios"
@using Turismos.Web.Shared
@using Turismos.Shared.Entities;
@using Turismos.Web.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Comentarios</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/comentarios/create">Nuevo Comentario</a>
</div>

<GenericList MyList="Comentarios">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Calificación</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comentario in Comentarios!)
                {
                    <tr>
                        <td>@comentario.Calificacion</td>
                        <td>@comentario.Descripcion</td>
                        <td>
                            <a href="/comentarios/edit/@comentario.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(comentario))>Borrar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Comentario>? Comentarios { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Comentario>>("api/comentarios");
        Comentarios = responseHppt.Response!;
    }

    private async Task Delete(Comentario comentario)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/comentarios/{comentario.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}
