@page "/facturas"
@using Turismos.Web.Shared
@using Turismos.Shared.Entities;
@using Turismos.Web.Repositories;

@inject IRepository repository

<h3>Facturas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/facturas/create">Nueva Factura</a>
</div>

<GenericList MyList="Facturas">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var factura in Facturas!)
                {
                    <tr>
                        <td>@factura.Fecha</td>
                        <td>@factura.Total</td>
                        <td>@factura.Detalle</td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Factura>? Facturas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Factura>>("/api/factura");
        Facturas = responseHttp.Response!;
    }
}
