@page "/hoteles"
@using Turismos.Web.Shared
@using Turismos.Shared.Entities;
@using Turismos.Web.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Hoteles</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/hoteles/create">Nuevo Hotel</a>
</div>

<GenericList MyList="Hoteles">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre del Hotel</th>
                    <th>Habitaciones</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hotel in Hoteles!)
                {
                    <tr>
                        <td>@hotel.NombreHotel</td>
                        <td>@hotel.Habitaciones</td>
                        <td>@hotel.Telefono</td>
                        <td>
                            <a href="/hoteles/edit/@hotel.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(hotel))>Borrar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Hotel>? Hoteles { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Hotel>>("api/hoteles");
        Hoteles = responseHppt.Response!;
    }

    private async Task Delete(Hotel hotel)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/hoteles/{hotel.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}
